.enterActive {
  opacity: 0;
  transform: translate(-50%, -90%);
}

.enterDone {
  opacity: 1;
  transform: translate(-50%, -50%);
  // transition: all .4s cubic-bezier(.52,0,.36,1.35);
  transition: all .4s cubic-bezier(.04,.1,.6,1.4);
}

.exit {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.exitActive {
  opacity: 0;
  transform: translate(-50%, -10%);
  transition: all .4s cubic-bezier(.86,-0.36,.67,.7);
}

// cubic-bezier(.86,-0.36,.67,.7)