@import "../../styles/auxiliar";
.enterActive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  @include responsive(mobile_l){
    transform: translate(-50%, 10px);
  }
}

.enterDone {
  opacity: 1;
  visibility: visible;
  transition: all 200ms ease-in-out;
  transform: translateY(0);
  @include responsive(mobile_l){
    transform: translate(-50%, 0);
  }
}

.exitActive {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  @include responsive(mobile_l){
    transform: translate(-50%, 0);
  }
}

.exitDone {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
  transform: translateY(10px);
  @include responsive(mobile_l){
    transform: translate(-50%, 10px);
  }
}
