@import "../../../styles/auxiliar";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@600&display=swap");

$Pink: hsl(322, 100%, 66%);
$VeryDarkCyan: hsl(192, 100%, 9%);
$VeryPaleCyan: hsl(193, 100%, 96%);
$GrayishBlue: hsl(208, 11%, 55%);
$FontHeading: "Poppins", sans-serif;
$FontText: "Open Sans", sans-serif;
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

.hero {
  background: url("./bg-hero-desktop.svg");
  background-color: $VeryPaleCyan;
  background-repeat: no-repeat;
  background-repeat: cover;
  padding: 50px calc(50vw - 640px) 70px;
  @include responsive(laptop_l) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @include responsive(tablet) {
    background: url("./bg-hero-mobile.svg");
    background-color: $VeryPaleCyan;
  }
  @include responsive(laptop_s) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include responsive(mobile_l) {
    padding: 23px 16px 34px;
  }
  &Menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    &Logo {
      width: 200px;
      @include responsive(mobile_l) {
        width: 104px;
      }
    }
    @include responsive(mobile_l) {
      margin-bottom: 85px;
    }
  }
  &Box {
    display: flex;
    align-items: center;
    @include responsive(tablet) {
      flex-direction: column;
    }

    &Text {
      width: 682px;
      margin-right: 62px;

      @include responsive(tablet) {
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
      &Titulo {
        width: 420px;
        font-family: $FontHeading;
        font-weight: 600;
        font-size: 40px;
        color: $VeryDarkCyan;
        margin-bottom: 30px;
        @include responsive(laptop_s) {
          font-size: 32px;
        }
        @include responsive(tablet) {
          width: 60%;
          margin: 0 auto 30px;
        }

        @include responsive(mobile_l) {
          width: 80%;
          font-size: 24px;
          margin-bottom: 21px;
        }
      }
      &Texto {
        font-family: $FontText;
        font-size: 18px;
        font-weight: 400;
        color: $VeryDarkCyan;
        width: 520px;
        margin-bottom: 32px;
        @include responsive(laptop_s) {
          width: 40vw;
        }
        @include responsive(tablet) {
          width: 60%;
          margin: 0 auto 30px;
        }
        @include responsive(mobile_l) {
          font-size: 16px;
          width: 77%;
        }
      }
    }
    &Image {
      width: 730px;

      @include responsive(tablet) {
        width: 80%;
        margin: 60px auto 0;
      }
      & img {
        width: 100%;
      }
    }
  }
}

.features {
  padding: 165px calc(50vw - 620px);
  @include responsive(laptop_l) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @include responsive(tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @include responsive(mobile_l) {
    padding: 60px 20px 120px;
  }
}

.feat {
  display: flex;
  background-color: #fff;
  color: $VeryDarkCyan;
  border-radius: 15px;
  padding: 55px 30px 50px 120px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba($GrayishBlue, 0.3);
  @include responsive(laptop_s) {
    padding-left: 60px;
  }
  @include responsive(mobile_l) {
    flex-direction: column;
    width: 100%;
    padding: 60px 45px 30px;
    grid-gap: 60px;
  }
  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &.rev {
    flex-direction: row-reverse;
    @include responsive(mobile_l) {
      flex-direction: column;
    }
  }
  &Img {
    width: 420px;
    @include responsive(laptop_l) {
      width: 40%;
    }
    @include responsive(mobile_l) {
      width: 100%;
    }
  }

  &Info {
    width: 500px;
    @include responsive(laptop_l) {
      width: 50%;
    }
    @include responsive(mobile_l) {
      width: 100%;
      text-align: center;
    }
    &Titulo {
      font-size: 28px;
      font-family: $FontHeading;
      margin-bottom: 14px;

      @include responsive(tablet) {
        font-size: 24px;
      }

      @include responsive(mobile_l) {
        font-size: 20px;
      }
    }
    &Texto {
      font-family: $FontText;
      font-size: 18px;
      color: $GrayishBlue;

      @include responsive(mobile_l) {
        font-size: 14px;
      }
    }
  }
}

.cta {
  padding: 65px 135px 50px;
  box-shadow: 0 0 10px rgba($GrayishBlue, 0.3);
  background: #fff;
  justify-self: center;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  position: relative;
  z-index: 9;

  @include responsive(tablet) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include responsive(mobile_l) {
    padding: 40px 25px;
  }
  @include responsive(mobile_s) {
    width: 90%;
  }
  &Text {
    text-align: center;
    font-family: $FontHeading;
    font-size: 32px;
    margin-bottom: 35px;

    @include responsive(mobile_l) {
      font-size: 18px;
      margin-bottom: 0 25px;
    }
    @include responsive(mobile_s) {
      margin-bottom: 20px;
    }
  }
  &Btn {
    font-size: 20px;
    padding: 27px 100px 26px;
  }
}

.footer {
  margin-top: -62px;
  background-color: $VeryDarkCyan;
  padding: 195px calc(50vw - 600px) 125px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  @include responsive(laptop_l) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include responsive(mobile_l) {
    padding: 140px 16px 40px;
  }
}
.logo {
  margin-bottom: 40px;
  margin-right: auto;
  @include responsive(mobile_l) {
    width: 156px;
  }
}

.info {
  color: #fff;
  font-family: $FontText;
  font-size: 16px;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-gap: 150px;
  @include responsive(laptop_l) {
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 50px;
  }

  @include responsive(tablet) {
    display: flex;
    flex-direction: column;
    grid-gap: 55px;
  }
  @include responsive(mobile_l) {
    grid-gap: 50px;
  }
}

.list {
  list-style: none;
  &Item {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-gap: 20px;
    margin-bottom: 24px;
    &Icon {
      font-size: 20px;
    }
    @include responsive(mobile_l) {
      font-size: 16px;
    }
  }
}

.link {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 45px);
  @include responsive(mobile_l) {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
  }
  &Dir{
    cursor:pointer;
    transition: all .2s ease-in-out;
    &:hover{
      color: $Pink;
    }
  }
  &Item {
  }
}
.sociais {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  &Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid white;
    margin-right: 20px;
    cursor:pointer;
    transition: all .2s ease-in-out;
    &:hover{
      color: $Pink;
      border-color: $Pink;
    }
  }
}

.copy {
  color: white;
  margin-left: auto;
  margin-top: 40px;
  font-size: 12px;
  font-family: $FontText;
  @include responsive(tablet) {
    margin: 20px auto 0;
  }
  @include responsive(mobile_l) {
    font-size: 11px;
  }
}

.btn {
  width: auto;
  font-family: $FontText;
  font-weight: 700;
  border-radius: 40px;
  padding: 19px 70px 18px;
  box-shadow: 0 0 5px rgba(#000, 0.2);
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translate(3px, -3px);
    box-shadow: -3px 3px 5px rgba(#000, 0.2);
    filter: brightness(99%);
  }
  &:active {
    transform: none;
    box-shadow: 0 0 5px rgba(#000, 0.2);
    filter: brightness(90%);
  }
  &Primary {
    background-color: $Pink;
    color: white;
    @include responsive(mobile_l) {
      font-size: 12px;
      padding: 11px 60px 13px;
    }
  }
  &Secondary {
    color: $VeryDarkCyan;
    background-color: white;
    @include responsive(mobile_l) {
      font-size: 10px;
      padding: 4px 24px 6px;
    }
  }
}
