.enter{
  opacity: 0;
  transform: translateX(5px);
}
.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}
.exit{
  opacity: 1;
  transform: translateX(0);
}
.exitActive {
  opacity: 0;
  transform: translateX(5px);
  transition: all 0.4s ease-in-out;
}
