@import "auxiliar";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

$DarkBlue: hsl(240, 38%, 20%);
$GrayishBlue: hsl(240, 18%, 77%);

.main {
  width: 1440px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-image: url("../../assets/fmc-03/pattern-curve.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  @include responsive(laptop_l) {
    width: 100vw;
    height: 100vh;
  }
  @include responsive(tablet) {
    width: 375px;
    height: 667px;
  }
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(100% - 328px);
  align-items: center;

  @include responsive(laptop_l) {
    width: 80vw;
  }
  @include responsive(tablet) {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
  }

  &Left {
    margin-right: auto;
    z-index: 3;
    @include responsive(tablet) {
      margin-bottom: auto;
      margin-right: unset;
    }
  }
  &Right {
    position: absolute;
    right: 0;
    z-index: 2;
    @include responsive(laptop_l) {
      transform: scale(0.7) translateX(30%);
    }
    @include responsive(tablet) {
      position: relative;
      right: unset;
      transform: none;
      margin-top: 54px;
      z-index: 4;
    }

    &Bg {
      content: "";
      position: absolute;
      height: 657px;
      width: 697px;
      top: calc((540px - 657px) / 2);
      left: calc((540px - 697px) / 2);
      background-image: url("../../assets/fmc-03/pattern-bg.svg");
      background-size: cover;
      z-index: -1;
      @include responsive(tablet) {
        width: 330px;
        height: 310px;
        top: calc((250px - 330px) / 2);
        left: calc((250px - 310px) / 2);
      }
    }
    &Imagem {
      z-index: 1;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      @include responsive(tablet) {
        width: 250px;
        height: 250px;
      }
    }
    &Control {
      display: flex;
      z-index: 10;
      position: absolute;
      border-radius: 100px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
      bottom: -30px;
      left: 32px;
      @include responsive(tablet) {
        bottom: -20px;
        left: 50%;
        transform: translate(-50%);
        z-index: 999;
      }
      &Prev,
      &Next {
        width: 52px;
        height: 52px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        color: $GrayishBlue;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        @include responsive(tablet) {
          width: 40px;
          height: 40px;
          font-size: 18px;
        }
        &:hover {
          background-color: lighten($DarkBlue, 30%);
        }
        &:active {
          background-color: lighten($DarkBlue, 20%);
        }
        &.disabled {
          background-color: darken(#fff, 10%);
          color: #fff;
          cursor: not-allowed;
          &:hover {
            background-color: darken(#fff, 10%);
            color: #fff;
            transform: none;
          }
        }
      }
      &Prev {
        border-radius: 50px 0 0 50px;
        &:hover {
          transform: scale(1.05) translate(-2px, 1px);
        }
        &:active {
          transform: scale(0.95) translate(0, -1px);
        }
      }
      &Next {
        border-radius: 0 50px 50px 0;
        &:hover {
          transform: scale(1.05) translate(2px, -1px);
        }
        &:active {
          transform: scale(0.95) translate(0, 1px);
        }
      }
    }
  }
}
.testemunho {
  font-size: 32px;
  max-width: 640px;
  font-weight: 300;
  color: $DarkBlue;
  position: relative;
  margin-bottom: 40px;
  @include responsive(laptop_l) {
    font-size: 28px;
    max-width: 600px;
  }
  @include responsive(laptop) {
    font-size: 20px;
    max-width: 550px;
    background-color: rgba(#fff, 0.5);
  }
  @include responsive(tablet) {
    font-size: 18px;
    margin-top: 85px;
    max-width: 315px;
    text-align: center;
  }

  &:after {
    content: "";
    position: absolute;
    top: -64px;
    left: 95px;
    height: 120px;
    width: 100px;
    background-image: url("../../assets/fmc-03/pattern-quotes.svg");
    @include responsive(tablet) {
      background-size: contain;
      height: 50px;
      width: 60px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.legenda {
  font-size: 20;
  display: flex;
  justify-content: start;
  @include responsive(tablet) {
    margin-bottom: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &Nome {
    font-weight: 700;
    margin-right: 5px;
    color: $DarkBlue;
  }
  &Titulo {
    font-weight: 300;
    color: $GrayishBlue;
  }
}
.slideTopEnter {
  opacity: 0;
  transform: translateY(50px);
}
.slideTopEnterActive {
  opacity: 1;
  transition: all 500ms ease-in;
  transform: translateY(0);
}
.slideTopExit {
  opacity: 1;
  transform: translateY(0);
}
.slideTopExitActive {
  opacity: 0;
  transition: all 500ms ease-in;
  transform: translateY(-50px);
}
// ===========================
.slideRightEnter {
  opacity: 0;
  transform: translateX(-50px);
}
.slideRightEnterActive {
  opacity: 1;
  transition: all 800ms ease-in;
  transform: translateX(0);
}
.slideRightExit {
  opacity: 1;
  transform: translateX(0);
}
.slideRightExitActive {
  opacity: 0;
  transition: all 800ms ease-in;
  transform: translateX(50px);
}
// ===========================
.slideLeftEnter {
  opacity: 0;
  transform: translateY(-50px);
}
.slideLeftEnterActive {
  opacity: 1;
  transition: all 800ms ease-in;
  transform: translateY(0);
}
.slideLeftExit {
  opacity: 1;
  transform: translateY(0);
}
.slideLeftExitActive {
  opacity: 0;
  transition: all 800ms ease-in;
  transform: translateY(50px);
}
